<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>RubyKaigi Virtual Venue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,interactive-widget=overlays-content">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="/assets/favicon.png" />
    <link rel="icon" href="/assets/favicon.ico?v=2" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="rkto:default-avatar" content="<%= Rails.application.config.x.default_avatar_url %>">
    <meta name="rkto:sentry-dsn" content="<%= Rails.application.config.x.sentry.dsn %>">

    <meta name="rkto:commit" content="<%= Rails.application.config.x.release_meta.commit %>">
    <meta name="rkto:release" content="<%= Rails.application.config.x.release_meta.version %>">
    <meta name="rkto:cache-buster" content="<%= Rails.application.config.x.release_meta.cache_buster %>">

    <%= stylesheet_pack_tag 'vendor', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <%= begin; javascript_pack_tag 'vendor'; rescue Simpacker::Manifest::MissingEntryError; end %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
